/* default css  */
.section-padding-top{
    margin-top: 100px;
}
.section-padding-bottom{
    margin-bottom: 100px;
}
/* home */
img.logo {
    width: 100px;
}
.home{
    background-image: url(../images/bg-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.bg-img img {
    position: absolute;
    top: 63%;
    left: -5%;
}
.carousel-item {
    padding: 20px 40px;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #ffcd1a 0%, #ffcd1a 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
/* product */
.see-btn {
    color: #ffcd1a;
    border: none;
    background: transparent;
    font-weight: 700;
}
.card{
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.card-footer{
    border-top: none;
    background-color: white;
}
.category-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.price{
    color: #ffcd1a;
}
.contact{
    height: 300px;
}
.contact input{
    border: none;
    /* padding: 5px; */
    
}
.contact input:focus{
outline: none;
}
footer {
    margin-top: -85px;
}